body {
    display: flex;
    justify-content: center;
}












/**

h2 {
    color: green;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
}

body {
    background-color: rgb(75, 67, 67);
    color: white;
}

a {
    color: aquamarine;
}

#rs {
    color: red;
}

#ecoles {
    color: beige;
}

.elements {
    color: aquamarine;
    background-color: blueviolet;
}

#paragraphe1 {
    color: blueviolet;
    background-color: bisque;
    font-size: large;
}

#about_me {
    display: flex;
    flex-direction: row
}

**/